@use '../mixins' as m
@use '../config/Colors.module.sass' as c


.photoMarchenko
    width: 100%
    max-height: 400px
    @include m.media(tablet)
        width: 200px
    @include m.media(phone)
        width: 100%



.listItemStory
    height: 135px
    width: 100%
    cursor: pointer
    width: 100%
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
    padding: 0 !important
    &:hover
        .listSlide
            -webkit-transform: translateX(-130px)
            font-weight: bold
    img
        min-width: 190px
        height: 135px

    .listSlide
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        padding: 30px
        cursor: pointer
        justify-content: center
        text-transform: uppercase
        left: 100%
        position: absolute
        top: 0
        max-width: 130px
        -webkit-transform: translateX(-10px)
    .cardDetailsText
        height: 100%
        white-space: pre-wrap
        @include m.media(phone)
            flex-direction: column
            font-size: 12px



.contentAboutMe
    width: 100%
    display: flex
    @include m.media(phone)
        flex-direction: column
.historyAboutMe
    width: 50%
    display: flex
    flex-direction: column
    max-height: 87vh
    overflow: scroll 
    margin-left: 30px
    overflow-x: hidden
    gap: 20px
    p
    @include m.media(tablet, phone)
        font-size: 14px
        margin: 0 10px
        width: 100%

        

.cardAboutMe
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
    display: flex
    padding: 21px
    margin: 40px 0
    max-width: 700px
    // justify-content: space-between
    .cardContent
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 0 30px
        gap: 20px
        @include m.media(tablet, phone)
            margin: 0 10px
    .info
        display: flex
        align-items: center
    p
        font-size: 14px
        margin-left: 10px
        @include m.media(tablet, phone)
            font-size: 11px

    @include m.media(tablet)
        margin: 20px 20px 20px 0
        width: 200px
        flex-wrap: wrap
